/* ==========================================================
   NAVBAR.CSS
   ----------------------------------------------------------
   Purpose:
   Styles the professional navigation bar.
========================================================== */


/* ==========================================================
  1 HEADER
========================================================== */

#header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:1000;

}
/* ==========================================================
  2 NAVBAR
========================================================== */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}
/* ==========================================================
    3 GLASS EFFECT
========================================================== */

.navbar{

    background:rgba(5,8,22,.75);

    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(255,255,255,.08);

}
/* ==========================================================
   4 LOGO
========================================================== */

.logo a{

    display:flex;

    align-items:center;

    gap:8px;

    font-size:1.4rem;

    font-weight:700;

}
/* ==========================================================
   4 LOGO PRIMARY
========================================================== */
.logo-primary{

    color:var(--primary);

}
/* ==========================================================
   4 LOGO SECONDARY
========================================================== */
.logo-secondary{

    color:var(--white);

}

/* ==========================================================
   5 NAVIGATION MENU
========================================================== */

.nav-menu{

    display:flex;

    gap:35px;

}
/* ==========================================================
  6 NAVIGATION LINKS
========================================================== */
.nav-link{

    position:relative;

    color:var(--text);

    transition:var(--transition);

}
/* ==========================================================
   6.1 NAVIGATION LINKS HOVER
========================================================== */

.nav-link:hover{

    color:var(--primary);

}
/* ==========================================================
  7. NAVIGATION LINKS UNDERLINE ANIMATION
========================================================== */

.nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:var(--transition);

}
/* ==========================================================
  7. NAVIGATION LINKS UNDERLINE ANIMATION HOVER
========================================================== */
.nav-link:hover::after{

    width:100%;

}
/* ==========================================================
  7. NAVIGATION ACTIVE LINKS  
========================================================== */

.nav-link.active{

    color:var(--primary);

}
/* ==========================================================
  7. NAVIGATION ACTIVE LINKS  AFTER
========================================================== */
.nav-link.active::after{

    width:100%;

}

/* ==========================================================
   MOBILE MENU BUTTON
========================================================== */

.menu-btn{

    display:none;

    color:var(--white);

    font-size:1.5rem;

}
/* ==========================================================
   STICKY SHADOW
========================================================== */
#header{

    transition:var(--transition);

}
/* ==========================================================
   SCROLLED EFFECT
========================================================== */
.scrolled{

    box-shadow:0 5px 20px rgba(0,0,0,.35);

}
/* ==========================================================
   LOGO HOVER EFFECT
========================================================== */
.logo{

    transition:var(--transition);

}

.logo:hover{

    transform:scale(1.05);

}
/*======================================================
SCROLL PROGRESS BAR
======================================================*/

#scroll-progress{

    position:absolute;

    bottom:0;

    left:0;

    width:0%;

    height:3px;

    background:linear-gradient(
        90deg,
        var(--primary),
        var(--secondary)
    );

}

/*======================================================
SCROLLED NAVBAR
======================================================*/

#header.scrolled{

    background:rgba(5,8,22,.95);

    backdrop-filter:blur(20px);

    box-shadow:0 10px 35px rgba(0,0,0,.25);

}