/* ==========================================================
   VARIABLES.CSS
   ----------------------------------------------------------
   Purpose:
   Global Design System
========================================================== */

:root{

    /* =====================================================
       COLORS
    ===================================================== */

    --bg:#050816;

    --surface:#10172A;

    --primary:#00F5FF;

    --secondary:#8B5CF6;

    --accent:#FFD700;

    --white:#FFFFFF;

    --text:#E2E8F0;
	
	--gold:#FFD700;

    --text-light:#94A3B8;

    --border:rgba(255,255,255,.10);

    --glass:rgba(255,255,255,.05);

    /* =====================================================
       TYPOGRAPHY
    ===================================================== */

    --font-family:"Poppins",sans-serif;

    --h1:4rem;

    --h2:3rem;

    --h3:2rem;

    --h4:1.5rem;

    --body:1rem;

    --small:.9rem;

    /* =====================================================
       SPACING
    ===================================================== */

    --space-xs:10px;

    --space-sm:20px;

    --space-md:40px;

    --space-lg:70px;

    --space-xl:100px;

    /* =====================================================
       BORDER RADIUS
    ===================================================== */

    --radius-sm:10px;

    --radius-md:20px;

    --radius-lg:30px;

    --radius-round:50%;

    /* =====================================================
       SHADOWS
    ===================================================== */

    --shadow-primary:

    0 0 30px rgba(0,245,255,.20);

    --shadow-secondary:

    0 0 30px rgba(139,92,246,.20);

    /* =====================================================
       TRANSITIONS
    ===================================================== */

    --transition:.35s ease;

}